@import "./style.css";
@import "./loading-style.css";
@import "./github-user-profile-style.css";
@import "./header-style.css";
.c-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}


.c-section-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}