<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github OAuth - Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="c-container">
        <header class="c-header">
            <h1 class="c-header__title">Github OAuth</h1>
            <a class="c-header__link" href="/logout" >Logout</a>
        </header>
    </div>
</body>
</html>