<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github OAuth - Login</title>
    <link rel="stylesheet" href="/static/css/login-style.css">
</head>
<body>
    <div class="c-container">
        <header class="c-header">
            <h1 class="c-header__title">Github OAuth</h1>
        </header>
        <main>
            <section class="c-login">
                <h1 class="c-login__title">Login with Github</h1>
                <a href="/oauth2/authorization/github" class="c-link c-link--bgcolor-github">
                    <img class="c-link__icon" src="/static/assets/icons/github.svg">
                    <span class="c-link__text">Github</span>
                </a>
            </section>
        </main>
    </div>
</body>
</html>